.twoContainer {
  float: left;
  width: 100vw;
  background-color: #e5e7eb;
  position: relative;
  padding-top: 16px;
  padding-bottom: 8px;
  /* margin-bottom: 8px; */
}

.twoLeft {
  float: left;
  margin-bottom: 16px;
  margin-left: 156px;
  margin-right: 24px;
  width: 360px;
  height: 336px;
}

.twoMiddle {
  float: left;
  margin-right: 24px;
  width: 360px;
  height: 336px;
}
.twoRight {
  float: left;
  margin-right: 16px;
  width: 360px;
  height: 336px;
}
