.threeContainer {
  background-color: #6b7280;
  display: inline-block;
  text-align: center;
  width: 100vw;
  height: 368px;
  position: relative;
}

.threeText {
  margin-left: 144px;
  width: 768px;
  height: 162px;
  margin-top: 103px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: white;
  float: left;
  text-align: center;
}

.threeImage {
  padding-top: 16px;
  margin-left: 12px;
  float: left;
}
